body{
    font-family: Comic Sans MS;
}

.finish-true {
    text-decoration: line-through;
    color: grey;
}
.invaldTask-true {
    background-color: rgba(255, 0, 0, 0.54);
    color: #0031ff;
}

.backgroud-img-body{
    background-image:url(../img/ToDo.jpg);
}

.positionCont{
    margin-left: 30%;
    margin-top: -20px;
    width: 402px;
}

.taskCount{
    padding-left : 10%;
}

.taskOfList{
    margin-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.62);
    box-shadow: 0 0.5px 0 rgba(71, 71, 71, 0.5);
}

.marginOfTopBar {
    margin-bottom: -21px;
}

.toDo{
    background-color: rgba(95, 95, 5, 0.04);
    padding: 10px;
    font-family: Comic Sans MS;
}

.inputPos{
    margin-left: 12%;
    margin-top: 3%;
}

.titleTask{
    font-family: Comic Sans MS;
    text-align: center;
}

.btnCancel {
    background-color: rgba(248, 0, 0, 0.55);
    color: white;
}

.btnAccept {
    background-color: rgba(0, 26, 176, 0.75);
    color: white;
}
